<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validate Email</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to CSS file -->
</head>
<body>
    <header>
        <h1>Validate Email</h1>
    </header>
    
    <main>
	    <form class="validate-Email" action="/validateEmail" method="POST">
        <p>OTP was sent to your Email, Please check your email for confirmation</p>
	<label for="otp">Enter One Time Passowrd:</label>
	<input type="password" id="otp" name="otp" required>
	<button type=submit>Submit</button>
	    </form>
    </main>

    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>

    <script src="script.js"></script> <!-- Link to JavaScript file -->
</body>
</html>
